@if (!isLoading) {
  <div class="bg-light rounded-3 p-3">
    <div class="d-flex m-3">
      <div class="col-6 d-flex flex-column justify-content-start">
        <h3 class="fw-bold">{{ title }}</h3>
        <p class="text-muted">
          {{ percentChangeMessage }}
          <span
            [class]="percentChangeClass"
            class="fw-semibold text-start ms-2"
          >
            {{ percentChange.toFixed(0) }}%
            @if (percentChange !== 0) {
              <i [class]="percentChangeSymbol"></i>
            }
          </span>
        </p>
      </div>
      <div class="col-3 offset-2 d-flex justify-content-end">
        <button
          type="button"
          (click)="toggleChartType()"
          class="btn btn-warning p-1 col-6 offset-6"
        >
          <i [class]="toggleChartTypeSymbol"></i>
        </button>
      </div>
    </div>
    <div>
      <div
        echarts
        [options]="options"
        [style.height]="height"
        class="demo-chart"
      ></div>
    </div>
  </div>
}
