@if (!isLoading) {
  <div class="bg-white rounded">
    <div class="d-flex">
      <div class="col-6 d-flex flex-column justify-content-start">
        <h3 class="fw-bold">Total Profit</h3>
        <p class="text-muted">
          Stonks this week:
          <span
            [class]="percentChangeClass"
            class="fw-semibold text-start ms-2"
          >
            {{ percentChange.toFixed(0) }}%
            @if (percentChange !== 0) {
              <svg
                [class]="arrowIconClass"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 10 14"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M5 13V1m0 0L1 5m4-4 4 4"
                />
              </svg>
            }
          </span>
        </p>
      </div>
      <div class="col-3 offset-2 d-flex justify-content-end">
        <button
          type="button"
          (click)="toggleChartType()"
          class="btn btn-warning p-1 col-6 offset-6 h-50"
        >
          {{ type | titlecase }}
        </button>
      </div>
    </div>
    <div>
      <div
        echarts
        [options]="options"
        class="demo-chart"
      ></div>
    </div>
  </div>
}
