<div class="container-fluid">
  <div class="mt-2">
    <div class="row col-6">
      <div class="d-flex justify-content-between align-items-center">
        <h1 class="text-start fw-bold">Dashboard</h1>
        <app-transaction-form class="me-4"></app-transaction-form>
      </div>
      <div class="row my-2 h-50">
        <div *ngFor="let statCard of statCards" class="col-md-4 mb-2">
          <app-stat-card
            [title]="statCard.title"
            [value]="statCard.value"
            [percentChange]="statCard.percentChange"
          ></app-stat-card>
        </div>
      </div>
      <app-line-bar-chart
        [data]="expenseLineBarData"
        [isIncome]="false"
      ></app-line-bar-chart>
    </div>
    <div class="row col-6">
      <div class="d-flex justify-content-center align-items-center"></div>
    </div>
  </div>
</div>
