<div class="container-fluid">
  <div class="mt-2">
    <div class="row col-6">
      <h1 class="text-start fw-bold">Dashboard</h1>
      <div class="row my-2">
        <div class="col-md-4 mb-2">
          <div class="bg-light border border-primary rounded-4 p-4">
            <h3 class="text-muted small">Views</h3>
            <p class="h2 fw-bold">31</p>
            <p class="text-success small mb-0">+3 last day</p>
          </div>
        </div>
        <div class="col-md-4 mb-2">
          <div class="bg-light border border-info rounded-4 p-4">
            <h3 class="text-muted small">Clients</h3>
            <p class="h2 fw-bold">63</p>
            <p class="text-success small mb-0">+1 last day</p>
          </div>
        </div>
        <div class="col-md-4 mb-2">
          <div class="bg-white border rounded-4 p-4">
            <h3 class="text-muted small">Purchases</h3>
            <p class="h2 fw-bold">10</p>
            <p class="text-success small mb-0">+1 last day</p>
          </div>
        </div>
      </div>
      <app-line-bar-chart></app-line-bar-chart>
    </div>
    <div class="row col-6">
      <div class="d-flex justify-content-center align-items-center"></div>
    </div>
  </div>
</div>
