svg
  pointer-events: none

.btn-warning:hover
  background-color: #f96c00 !important
  border-color: #f96c00 !important

input
  border: 1px solid #ccc !important
  box-shadow: none !important
  padding: 10px !important

input:focus
  border: 1px solid #f96c00 !important
  box-shadow: none !important

.email
  border-top-left-radius: 10px !important
  border-top-right-radius: 10px !important
  border-bottom: none !important

.password
  border-bottom-left-radius: 10px !important
  border-bottom-right-radius: 10px !important
