<svg
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 24 24"
  [attr.width]="size"
  [attr.height]="size"
>
  <style>
    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    .loader {
      animation: spin 2s linear infinite;
      transform-origin: center;
    }
  </style>
  <path
    class="loader"
    fill="#fd7e14"
    d="M12,2A10,10 0 0,1 22,12A10,10 0 0,1 12,22A10,10 0 0,1 2,12A10,10 0 0,1 12,2M11,17H13V16H14A1,1 0 0,0 15,15V12A1,1 0 0,0 14,11H11V10H15V8H13V7H11V8H10A1,1 0 0,0 9,9V12A1,1 0 0,0 10,13H13V14H9V16H11V17Z"
  />
</svg>
