<!--<input class="form-control" type="file" (change)="uploadFile($event)" id="formFile">-->
<div class="mb-3 d-flex justify-content-center justify-content-md-start align-items-center">
  <div class="col-6 col-md-2 col-xl-1 px-1">
    <select id="monthSelector" class="form-select w-100" [(ngModel)]="selectedMonth">
      <option selected disabled>Month</option>
      <option *ngFor="let month of months" [value]="month">{{ month }}</option>
    </select>
  </div>
  <div class="col-6 col-md-2 col-xl-1 px-1">
    <select id="yearSelector" class="form-select w-100" [(ngModel)]="selectedYear" (ngModelChange)="onYearChange($event)">
      <option selected disabled>Year</option>
      <option *ngFor="let year of oldestToNewestTransactionYearRange" [value]="year">{{ year }}</option>
    </select>
  </div>
</div>

<ng-container *ngIf="uploadedFiles$ | async as uploadedFiles">
  <div *ngIf="uploadedFiles.length > 0; else noFiles">
    <h3>Uploaded Files</h3>
    <div class="row">
      <div class="col-md-4 mb-3" *ngFor="let form of uploadedFiles">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ form.name }}</h5>
            <button class="btn btn-warning" (click)="fillForm(form)">
              Fill Form
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noFiles>
    <p>No files have been uploaded yet.</p>
  </ng-template>
</ng-container>
