<div class="topbar">
  <ng-container *ngFor="let item of topbarItems">
    <div
      (click)="item.action()"
      [class]="
        item.icon === 'flex-grow-spacer' ? 'flex-grow-spacer' : 'topbar-item'
      "
      [ngbTooltip]="item.label"
      placement="bottom"
    >
      <i [class]="item.icon"></i>
    </div>
  </ng-container>
</div>

<div
  *ngIf="showDateSelector"
  (click)="preventCloseOnClick()"
  class="date-selector-container-mobile d-flex justify-content-center align-items-center position-absolute"
>
  <app-date-selector></app-date-selector>
</div>
