/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap'
@import 'bootstrap-icons/font/bootstrap-icons.css'
@import 'ag-grid-community/styles/ag-grid.css'
@import 'ag-grid-community/styles/ag-theme-quartz.css'
@import 'ag-grid-community/styles/ag-theme-alpine.css'

$primary: #fd7e14
$primary-color: white

html
  touch-action: manipulation

.platform-signup-button
  border-radius: 10px
  background-color: $primary-color
  padding: 10px
  border: 1px solid #ccc


.btn
  border-radius: 10px
  padding: 10px
  background-color: $primary
  border-color: $primary
  color: $primary-color

input
  border: 1px solid #ccc
  box-shadow: none
  padding: 10px

input:focus
  border: 1px solid #ccc
  box-shadow: none
  outline: none

.hyperlink
  color: $primary
  text-decoration: none

.date-selector-container-mobile
  width: 280px
  top: 60px
  z-index: 1000
  background-color: white
  border: 1px solid #ccc
  padding: 10px
  right: 0

.date-selector-container
  width: 550px
  top: 100px
  z-index: 1000
  background-color: white
  border: 1px solid #ccc
  padding: 10px
  left: 50%
  transform: translateX(-50%)
