/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap'
@import 'bootstrap-icons/font/bootstrap-icons.css'

.btn
  border-radius: 25px
  padding: 10px

.wave-top, .wave-bottom
  position: absolute
  width: 100%

.wave-top
  top: 0

.wave-bottom
  bottom: 0
